---

# Python Basics: Data Types, Variables & Operators

---

## 1. Working with Numbers (Integers & Floating-Point Numbers)

**Task:**

1. Create two variables: `x` (an integer) and `y` (a floating-point number).
2. Print their values and types using the `type()` function.
3. Perform addition, subtraction, multiplication, and division between `x` and `y`, then print the results.

In [7]:
x = 12
y = 12

print(type(x))
print(type(y))

print(x + y)
print(x - y)
print(x * y)
print(x / y)

<class 'int'>
<class 'int'>
24
0
144
1.0

---

## 2. Working with Strings

**Task:**

1. Create a variable `name` and store your name as a string.
2. Print the length of the string using `len()`.
3. Convert the string to uppercase and lowercase, then print the results.
4. Concatenate (combine) your `name` with another string (e.g., `"Hello, "`).

In [10]:
name = 'Christian'
print(len(name))
print(name.upper())
print(name.lower())
print('Hello, ' + name)

9
CHRISTIAN
christian
Hello, Christian


---

## 5. Operators & Expressions

**Task:**

1. Create two variables, `num1 = 15` and `num2 = 4`.
2. Perform the following operations and print the results:
   - Addition (`+`)
   - Subtraction (`-`)
   - Multiplication (`*`)
   - Division (`/`)
   - Floor Division (`//`)
   - Modulus (`%`)
   - Exponentiation (`**`)

In [12]:
num1 = 15
num2 = 4

print(num1 + num2)
print(num1 - num2)
print(num1 * num2)
print(num1 / num2)
print(num1 // num2)
print(num1 % num2)
print(num1 ** num2)

19
11
60
3.75
3
3
50625


---

## 6. Comparison Operators

**Task:**

1. Create two variables, `p = 20` and `q = 10`.
2. Compare `p` and `q` using `==`, `!=`, `>`, `<`, `>=`, and `<=`, then print the results.

In [14]:
p = 20
q = 10

print(p == q)
print(p != q)
print(p > q)
print(p < q)
print(p >= q)
print(p <= q)

False
True
True
False
True
False


---

## 7. String Manipulation

**Task:**

1. Given the string `"Python is awesome!"`, perform the following:
   - Extract the word `"Python"` using slicing.
   - Reverse the entire string.
   - Replace `"awesome"` with `"fun"`.
   - Split the string into words.

In [19]:
string = "Phyton is awesome"
print(string[:6])
print(string[::-1])
print(string.replace('awesome','fun'))
print(string.split())

Phyton
emosewa si notyhP
Phyton is fun
['Phyton', 'is', 'awesome']

# NGC Slide

## Task 1

In [29]:
customer_id = ['B818', 'A461', 'A092', 'A082', 'B341', 'A005', 'A092', 'A461',
'B219', 'B904', 'A901', 'A083', 'B904', 'A092', 'B341', 'B821',
'B341', 'B821', 'B904', 'B818', 'A901', 'A083', 'B818', 'A082',
'B219', 'B219', 'A083', 'A901', 'A082', 'B341', 'B341', 'A083',
'A082', 'B219', 'B439', 'A461', 'A005', 'A901', 'B341', 'A082',
'A083', 'A461', 'A083', 'A901', 'A461', 'A083', 'A082', 'A083',
'B341', 'A901', 'A082', 'A461', 'B219', 'A083', 'B818', 'B821',
'A092', 'B341', 'A461', 'A092', 'A083', 'B821', 'A092']

In [37]:
customer_id = list(dict.fromkeys(customer_id))
print(customer_id)

['B818', 'A461', 'A092', 'A082', 'B341', 'A005', 'B219', 'B904', 'A901', 'A083', 'B821', 'B439']

## Task 2

Data = [1, 4, 9, 16, 25, 36, 49,  64, 81, 100]

Use indexing so you can get this output:

In [39]:
Data = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### a. 16

In [41]:
Data[3]

16

### b.[36, 49, 64, 81]

In [42]:
Data[5:9]

[36, 49, 64, 81]

### c.[100, 81, 64, 49, 36, 25, 16, 9, 4, 1]

In [43]:
Data[::-1]

[100, 81, 64, 49, 36, 25, 16, 9, 4, 1]

## Task 3

provinsi = {'Nanggroe Aceh Darussalam': 'Aceh',
'Sumatera Selatan': 'Palembang',
'Kalimantan Barat': 'Pontianak',
'Jawa Timur': 'Madiun',
'Sulawesi Selatan': 'Makassar',
'Maluku': 'Ambon'}

What python command can be use to:

a. Get list of keys available in dictionary

b. Change 'Jawa Timur' value from 'Madiun'  to 'Surabaya'

In [72]:
provinsi = {'Nanggroe Aceh Darussalam': 'Aceh',
'Sumatera Selatan': 'Palembang',
'Kalimantan Barat': 'Pontianak',
'Jawa Timur': 'Madiun',
'Sulawesi Selatan': 'Makassar',
'Maluku': 'Ambon'}

### a.  Get list of keys available in dictionary

In [46]:
provinsi = list(provinsi.keys())
print(provinsi)

['Nanggroe Aceh Darussalam', 'Sumatera Selatan', 'Kalimantan Barat', 'Jawa Timur', 'Sulawesi Selatan', 'Maluku']

###     b. Change 'Jawa Timur' value from 'Madiun' to 'Surabaya'

In [79]:
provinsi['Jawa Timur'] = 'Surabaya'
print(provinsi)

{'Nanggroe Aceh Darussalam': 'Aceh', 'Sumatera Selatan': 'Palembang', 'Kalimantan Barat': 'Pontianak', 'Jawa Timur': 'Surabaya', 'Sulawesi Selatan': 'Makassar', 'Maluku': 'Ambon'}

## Task 4

###    Given a dictionary of:

contoh_list = [1,2,[3,4,[5,6], 7,[8,[9,[10],11]],12],13,[14,[15,16,[17]]]]

What python command can be use to:
Ambil semua angka

In [80]:
contoh_list = [1,2,[3,4,[5,6], 7,[8,[9,[10],11]],12],13,[14,[15,16,[17]]]]

In [127]:
print(contoh_list[0])
print(contoh_list[1])
print(contoh_list[2][0])
print(contoh_list[2][1])
print(contoh_list[2][2][0])
print(contoh_list[2][2][1])
print(contoh_list[2][3])
print(contoh_list[2][4][0])
print(contoh_list[2][4][1][0])
print(contoh_list[2][4][1][1][0])
print(contoh_list[2][4][1][2])
print(contoh_list[2][5])
print(contoh_list[3])
print(contoh_list[4][0])
print(contoh_list[4][1][0])
print(contoh_list[4][1][1])
print(contoh_list[4][1][2][0])

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17